SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


/* label */
QLabel#settingLabel {
    font: 33px 'Segoe UI Light', 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}

